<nav class="">
    <mat-toolbar class="container mx-auto" color="primary">
        <img class="pr-2 max-h-full" src="assets/images/contacts-app-logo.png" alt="">
        <span>ContactMe</span>
        <span class="example-spacer"></span>
        <div *ngIf="authService.isLogged" class="ml-auto">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before" class="p-5">
                <mat-slide-toggle (click)="$event.stopPropagation();">Dark mode</mat-slide-toggle>
                <button (click)="logout()" mat-menu-item class="mt-2">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </div>
        <div class="sm:hidden">
            <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</nav>

<ng-template #loading>
    Loading...
</ng-template>
