<nav>
    <ul *ngIf="!authService.isLogged; else loggedUser">
        <li>
            <a [routerLink]="['login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['register']">Register</a>
        </li>
    </ul>
</nav>

<ng-template #loggedUser>
    Hi, {{authService.getUserInfo().user.username}}
    <button mat-raised-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
    </button>
</ng-template>

<ng-template #loading>
    Loading...
</ng-template>
