.app-table {
    width: 100%;

    &__header {
        @apply text-left border-gray-500 bg-gray-200 border-b-2 border-t-2;

        display: none;
    }

    &__body {

        tr {

            &:nth-child(odd) {
                @apply bg-gray-50 border-gray-200 border-b-2;
            }
        }

        td {
            display: flex;
            justify-content: space-between;

            @apply px-5 md:px-0;
        }
    }

    &__expander {
        position: absolute;
        left: 0;
    }

    th,
    td {
        @apply py-3;
    }

    td {
        @apply px-3;
    }
}

@screen md-lg {
    .app-table {

        &__header {
            display: table-header-group;
        }

        &__body {

            td {
                display: table-cell;
            }
        }

        td:nth-child(2),
        th:nth-child(2) {
            @apply pl-5;
        }

        td:first-child {
            @apply pl-1;
        }

        th:last-child {
            @apply pr-5;
        }
    }
}


// .app-test {

//     &__row {
//         display: flex;
//         flex-direction: column;

//         &.-header {
//             display: none;
//             background-color: #E5E7EB;
//             border-bottom: 2px solid #D1D5DB;

//             .app-test__row-item {
//                 font-weight: bold;
//             }
//         }

//         &:nth-of-type(even) {
//             background-color: #F9FAFB;
//             border-bottom: 1px solid #E5E7EB;
//         }


//     }
//     &__row-item {
//         display: flex;
//         flex: 1;
//         padding: 10px;
//         white-space: nowrap;
//         justify-content: space-between;

//         &.-xs {
//             flex: 0 0 50px;
//         }

//         &.-sm {
//             flex: 0 0 80px;
//         }

//         &.-md {
//             flex: 0 0 120px;
//         }

//         &.-action-desktop {
//             display: none;
//         }
//     }
// }

// @screen lg {
//     .app-test {

//         &__row {
//             flex-direction: row;

//             &.-header {
//                 display: flex
//             }
//         }

//         &__row-item {

//             &.-action-mobile {
//                 display: none;
//             }

//             &.-action-desktop {
//                 display: flex;
//             }
//         }
//     }
// }
